<section>
  <div ng-model="details" class="container">
    <div>
    <img ng-src="{{details.estImgPath + details.estImgName + '.' + details.estImgFormat}}" 
    class="maxImageSize" alt="Photo of {{details.estImgName}}"> 
    </div>
    <label><a href="#/est_videos/{{details.estId}}">To Videos</a></label>
    <h1>{{details.estName}}</h1>
    <div>
      <h3>{{details.address}}</h3>
      <h3>{{details.estCreated}}</h3>
      <div>{{details.estAbout}}</div>
    </div>
    <a href="#/index">&laquo; Back to search</a>
  </div>
</section> 