<section>
  <div class="container" ng-controller="RegistrationController">
  <form name="myform"
    ng-submit="editProfile()"
    novalidate>

    <div class="textintro">
      <h1>Your profile!</h1>
      <p class="message" 
        ng-show="message"> {{ message }}</p>
    </div>

    <fieldset>
      <input type="text" name="lastName" placeholder="Last Name"
       ng-model="profile.data.lastName" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.lastName.$invalid && myform.lastName.$touched">
      Last Name is required</p>


      <input type="text" name="firstName" placeholder="First Name"
      ng-model="profile.data.firstName" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.firstName.$invalid && myform.firstName.$touched">
      First Name is required</p>
      
      <input type="text" name="address" placeholder="Address"
      ng-model="profile.data.address" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.address.$invalid && myform.address.$touched">
      Address is required</p>


      <input type="text" name="contactNo" placeholder="Contact-No"
      ng-model="profile.data.contactNo" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.contactNo.$invalid && myform.contactNo.$touched">
      Contact-No is required</p>
      
      <input type="email" name="email" placeholder="Email"
       ng-model="profile.data.email" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.email.$invalid && myform.email.$touched">
      Must be a valid Email</p>


      <textarea type="text" rows="4" cols="50" name="bio" placeholder="bio"
      ng-model="profile.data.bio" ng-required="false">
      </textarea>
      
      <input type="password" name="accDetails" placeholder="Card-no ---- ---- ---- ----"
      ng-model="profile.data.accDetails" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.accDetails.$invalid && myform.accDetails.$touched">
      Card-no is required</p>

    </fieldset>

    <button type="submit" class="btn"
      ng-disabled="myform.$invalid">Login</button>
    <p>or <a ng-href="#/register">register</a></p>
  </form>
 </div> 
 
</section> 