<section>
  <div class="container">
    <br>
	    <h2>VR Video Directory</h2>
	
      <div class="row text-center text-lg-left">
      
        <div id="video_player_box">
       
	        <div ng-animate="'animate'" ng-repeat="item in videos"> 
	       <!--   <div><label>{{item.title}}</label></div> -->
	        
	         	 <a-scene embedded vr-mode-ui='enabled: false'>
	               <a-assets>
				     <video id="video_player_1" loop="false" crossorigin="anonymous"
					  ng-src="{{item.path + item.title}}" type="video/{{item.fileType}}" webkit-playsinline>
			         </video> 
			       </a-assets>
			  
			       <a-videosphere src="#video_player_1"></a-videosphere> 
			  
			      </a-scene> 
		            
	         </div>
	         <div id="video_controls_bar">
				   <button id="play_pause_btn">Play</button>
				   <input id="video_slider" type="range" min="0" max="100" step="0" value="1"></input>
				   <span id="cur_time_text"></span><span id="dur_time_text"></span>
				   <button id="mute_btn">Mute</button>
				   <input id="sound_slider" type="range" min="0" max="100" step="0" value="100"></input>
			       <button id="view_btn">360°</button>
			</div>
        </div>  
      </div>
   </div>
   
</section>
 