 <section>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
      <div class="container">
        <a class="navbar-brand" href="#">Venture</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#/index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
           </ul>
       
         
	<div class="dropdown" ng-hide="currentUser">
  <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Login 
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#/login">Login</a>
    <a class="dropdown-item" href="#/register">New around here? Sign Up</a>
  </div>
</div>
<div class="dropdown" ng-show="currentUser">
  <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" 
  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   {{currentUser}} 
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" ng-click="logout()">Logout</a>
  </div>
</div>
         
   </div>        
       <!--   <div>
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                <a class="nav-link" href="#/login" ng-hide="currentUser">Login</a>
		        <a class="nav-link" list="op" ng-show="currentUser">{{currentUser}}</a>
		        <input class="nav-link" placeholder="{{currentUser}}" name="dropdown" list="op"></input>
		        <datalist id="op">
		         <option value="logout" >
		        </datalist> 
		       </li>
		       <li class="nav-item">
		       <a class="nav-link" href="#/register" ng-hide="currentUser">Register</a>
		      </li>
		    </ul>
        </div> --> 
      </div>
  </nav>
</section> 