<section id="wrap">
 <h2>Create Profile</h2>
 
 <div class="card meetings cf">

  <div class="textintro">
    <h1>Success</h1>
  <!--   <p>{{ message }}</p> -->
  </div>
</div><!-- meetings cf -->
 
<!--  <div class="container" ng-controller="RegistrationController">
  <form name="myform"
    ng-submit="login()"
    novalidate>

    <div class="textintro">
      <h1>Hi there!</h1>
      <p>Log-in to access the awesomeness!</p>
      <p class="message" 
        ng-show="message"> {{ message }}</p>
    </div>

    <fieldset>
      <input type="text" name="userName" placeholder="User Name"
       ng-model="user.userName" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.userName.$invalid && myform.userName.$touched">
      Must be a valid user name</p>


      <input type="password" name="password" placeholder="Password"
      ng-model="user.password" ng-required="true">
      <p class="error validationerror"
      ng-show="myform.password.$invalid && myform.email.$touched">
      Password is required</p>

    </fieldset>

    <button type="submit" class="btn"
      ng-disabled="myform.$invalid">Login</button>
    <p>or <a ng-href="#/register">register</a></p>
  </form>
 </div> -->
</section>